@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Alexandria";
    src: url(../fonts/alexandria/Alexandria-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaThin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaLight.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaRegular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaMedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaSemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Lufga";
    src: url(../fonts/lufga/LufgaBlack.ttf);
    font-weight: 900;
}