@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.poppins {
    font-family: "Poppins", sans-serif;
}

.grostek {
    font-family: "Space Grotesk", sans-serif;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar {
    z-index: 1;
    background-color: #150F36;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    transition: 0.3s ease-in-out;
    left: 0;
}

.side-middle {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 16px 10px;
}

.nav-link {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.header-search {
    cursor: pointer;
}

.nav-link-text {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.nav-link.active {
    background-color: #FFFFFF !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active .nav-link-text {
    color: #150F36;
}

.nav-link.active svg path {
    fill: #150F36;
}

.side-top {
    padding: 24px 34px 24px;
    margin-bottom: 16px;
    background-color: #150F36;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.menu-close {
    display: none;
}

.menu-close img {
    height: 26px;
}

.side-bottom {
    padding: 16px 34px;
    background-color: #150F36;
}

.side-user-name {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.side-user {
    gap: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.side-user-img {
    height: 22px;
    width: 22px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.side-user .dropup .dropdown-toggle::after {
    content: unset !important;
    border: 0 !important;
}

.side-user .dropup .dropdown-menu {
    border-radius: 0 !important;
    border-color: #150F36 !important;
    color: #150F36 !important;
}

.dashboard-page main {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.nl-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #00A3FF;
    min-width: 26px;
    height: 18px;
    margin-left: auto;
    padding: 0 2px;
}

.page-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    color: #150F36;
}

.btn {
    border: 1px solid #150F36 !important;
    border-radius: 0 !important;
    padding: 8px 13px !important;
    font-size: 12px;
    font-weight: 700;
}

.btn-white {
    background-color: #FFFFFF !important;
    color: #150F36 !important;
}

.btn-white:hover {
    background-color: #150F36 !important;
    color: #FFFFFF !important;
}

.btn-white:hover svg path {
    fill: #FFFFFF;
}

.btn-sky {
    background-color: #00A3FF !important;
    color: #FFFFFF !important;
}

.btn-sky:hover {
    background-color: #150F36 !important;
}

.btn-sky:hover svg path {
    fill: #FFFFFF;
}

.btn-flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

.bars-icon {
    height: 14px;
    width: 14px;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: white !important;
}

/* Form Pages */
.form-page {
    background-color: #150F36;
    background-image: url(../img/form-page-vector-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    background-attachment: fixed;
}

.form-page main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.navbar-brand img {
    height: 32px;
}

.form-content {
    flex-grow: 1;
}

.form-container {
    width: 440px;
    max-width: 100%;
}

.form-page footer {
    margin-top: auto;
    font-size: 14px;
}

.fc-title {
    font-size: 48px;
    font-weight: 500;
}

.form-fields {
    gap: 26px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.form-label {
    margin-bottom: 0;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
}

.fp-inp::placeholder {
    color: #5F646D;
}

.inp-container {
    position: relative;
}

.fp-inp-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.fp-inp {
    border-radius: 2px;
    border-color: #FFFFFF;
    font-size: 14px;
    color: #150F36;
    font-weight: 700;
    padding: 20px 18px;
    background-color: #FFFFFF;
    box-shadow: none !important;
}

.fp-check-label {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
    gap: 10px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: #28BF4B;
    border-color: #28BF4B;
}

.form-page .btn {
    font-size: 16px;
    font-weight: 700;
    padding: 14px !important;
    border-radius: 2px !important;
}

.btn-form-primary {
    background-color: #00A3FF !important;
    color: #FFFFFF !important;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
    border: 1px solid #00A3FF !important;
}

.btn-form-white {
    background-color: #150F36 !important;
    color: #FFFFFF !important;
    border: 1px solid #fff !important;
}

.btn-form-primary:hover {
    border: 1px solid #FFFFFF !important;
}

.show-passowrd-icon {
    cursor: pointer;
}

.nft-card {
    border-radius: 1px;
    overflow: hidden;
    width: 352px;
    background-color: #FFFFFF;
    border: 1px solid #150F36;
}

.nft-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.nft-credits {
    padding: 10px 14px;
    font-weight: 700;
    font-size: 10.5px;
    color: #150F36;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #150F36;
    border-bottom: 1px solid #150F36;
}

.nc-from {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nc-by {
    font-size: 12px;
    font-weight: 400;
    color: #5F646D;
}

.nci-value {
    line-height: 150%;
    font-size: 10.5px;
    font-weight: 700;
    color: #150F36;
}

.nci-label {
    font-size: 9px;
    font-weight: 600;
    color: #5F646D;
}

.nc-interactions {
    display: flex;
}

.nci-box {
    padding: 8px 14px;
    flex-grow: 1;
}

.nci-box:first-child {
    border-right: 1px solid #150F36;
}

.fp-cards {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.fp-cards-cont {
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 10%;
}

.ff-or {
    position: relative;
    font-weight: 500;
}

.ff-or::before,
.ff-or::after {
    content: "";
    position: absolute;
    width: 132px;
    height: 1px;
    background-color: #FFFFFF;
    top: 50%;
}

.ff-or::before {
    left: 0;
    transform: translateY(-50%) translateX(calc(-100% - 15px));
}

.ff-or::after {
    right: 0;
    transform: translateY(-50%) translateX(calc(100% + 15px));
}

.dashboard-page header {
    position: sticky;
    top: 0;
    z-index: 9;
}

body:not(.form-page) header {
    background-color: #fff;
    border-bottom: 1px solid #150F36;
}

.search-form {
    position: absolute;
    top: 16px;
    width: 1000px;
    max-width: calc(100% - 50px);
    z-index: 9;
    box-shadow: 4px 4px 0 0 #000;
    border: 1px solid rgba(0, 0, 0, 1);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.search-form .fp-inp {
    padding: 20px 60px 20px 24px;
}

.search-form .btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    justify-content: center;
}

.f-lang-flex {
    gap: 6px;
}

.f-currency-flex {
    gap: 12px;
}

.f-text {
    color: #150F36;
    font-size: 12px;
}

.currency-inp~span .select2-selection__rendered {
    font-size: 12px;
    font-weight: 700;
    color: #150F36 !important;
    padding: 0 30px 0 10px !important;
    line-height: 32px !important;
}

.currency-inp~.select2 {
    width: 100% !important;
    display: block;
}

.currency-inp~.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    background-image: url(../img/chevron-up.svg);
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    right: 6px !important;
    transition: 0.3s ease-in-out;
    transform: rotate(180deg);
}

.curr-dropdown .select2-results__options {
    max-height: unset !important;
    border: 1px solid #150F36 !important;
    border-radius: 0 !important;
}

.curr-dropdown .select2-results__option {
    padding: 8px 10px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #150F36 !important;
    background-color: #fff !important;

}

.curr-dropdown {
    border-radius: 0 !important;
}

.curr-dropdown .select2-results__option:hover {
    background-color: rgba(151, 151, 151, 0.5) !important;
}

.currency-inp~.select2-container--open .select2-selection--single .select2-selection__arrow {
    transform: rotate(0deg);
}

.currency-inp~.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none !important;
}

.currency-inp~span .select2-selection--single {
    height: 32px !important;
    border: 1px solid #150F36 !important;
    min-width: 132px;
    border-radius: 1px !important;
}

.dash-duration-flex .currency-inp~span .select2-selection--single {
    min-width: 100px;
}

.dashboard-page .main-sec {
    min-height: calc(100vh - 132px);
}

/* Form Pages End */

/* Dashboard Pages */
.wallet-flex {
    gap: 4px;
    font-weight: 500;
    font-size: 20px;
    color: #150F36;
}

.wf-muted {
    color: #5F646D;
}

.nothing-circles {
    width: 205px;
    max-width: 100%;
}

.nothing-flex .btn-form-primary {
    padding: 16px 20px !important;
    border: 1px solid #150F36 !important;
    border-radius: 2px !important;
    width: 210px !important;
    max-width: 100% !important;
}

.nothing-title {
    font-size: 48px;
}

.nothing-desc {
    font-size: 16px;
}

.nothing-desc {
    font-size: 16px;
}

.text-dark {
    color: #150F36 !important;
}

.text-secondary {
    color: #5F646D !important;
}

.form-select {
    background-image: url(../img/chevron-down.svg);
}

.new-drop-img {
    width: 100%;
}

.new-drop-img img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.new-drop-card {
    width: 100%;
    display: block;
    position: relative;
    border: 1px solid #150F36;
    border-radius: 2px;
    overflow: hidden;
}

.new-drop-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    height: 70%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.6213));
}

.new-drop-title {
    font-size: 20px;
    font-weight: 500;
}

.new-drop-desc {
    font-size: 12px;
    font-weight: 600;
}

.new-drop-posts {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #150F36;
    position: absolute;
    top: 16px;
    right: 16px;
}

.new-drop-cont {
    padding: 0 10px;
}

.new-drops-slider .slick-list {
    margin: 0 -10px;
}

.new-drops-slider .slick-slide>div {
    display: flex;
}

.new-drops-slider {
    position: relative;
}

.new-drops-slider .slick-arrow {
    position: absolute;
    top: 50%;
    height: unset;
    width: unset;
    z-index: 1;
}

.new-drops-slider .slick-arrow::before {
    content: unset;
}

.new-drops-slider .slick-arrow.slick-prev {
    left: 0px;
    transform: translateY(-50%) translateX(-50%);
}

.new-drops-slider .slick-arrow.slick-next {
    right: 0px;
    transform: translateY(-50%) translateX(50%);
}

.btn-nav {
    padding: 6px 10px !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.types-nav .btn-nav {
    padding: 6px 16px !important;
}

.btn-nav:hover,
.btn-nav.active {
    border-color: #150F36 !important;
    background-color: #150F36 !important;
    color: #FFFFFF !important;
}

.types-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.main-table thead th {
    font-size: 12px !important;
}

.main-table {
    border: 1px solid #150F36;
}

.main-table tbody td {
    font-size: 14px !important;
}

.main-table .dt-column-title {
    position: relative;
}

.main-table .dt-column-title::after {
    content: "";
    height: 16px !important;
    width: 16px !important;
    display: inline-block;
    position: absolute !important;
    top: 50% !important;
    right: 0;
    transform: translateX(calc(100% + 6px)) translateY(-50%) !important;
    background-image: url(../img/arrow-down.svg);
    background-size: cover;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}

.main-table th {
    padding: 14px 20px !important;
}

.main-table td {
    padding: 14px 10px !important;
    color: #150F36;
    vertical-align: middle;
}

.main-table th.dt-orderable-asc:hover,
.main-table th.dt-orderable-desc:hover {
    outline: 0 !important;
}

.main-table .dt-column-order {
    display: none !important;
}

.main-table .dt-column-order::after,
.main-table .dt-column-order::before {
    content: unset !important;
    display: none !important;
}

.main-table thead th:last-child .dt-column-title::after {
    display: none !important;
}

.main-table thead th.dt-ordering-desc .dt-column-title::after {
    transform: translateX(calc(100% + 6px)) translateY(-50%) rotate(-180deg) !important;
    opacity: 1;
}

.main-table thead th.dt-ordering-asc .dt-column-title::after {
    opacity: 1;
    transform: translateX(calc(100% + 6px)) translateY(-50%) rotate(0deg) !important;
}

.btn-table {
    padding: 6px 10px !important;
}

.btn-filters {
    color: #150F36;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 9px 13px !important;
}

.tsc-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #150F36;
    gap: 6px;
}

.tsc-label {
    margin: 0 2px;
}

.table-search-cont {
    position: relative;
}

.tsc-inp {
    font-size: 12px;
    font-weight: 700;
    color: #150F36;
    text-align: center;
    width: 226px;
    border: 1px solid #150F36;
    border-radius: 1px;
    background-color: #FAF4F0 !important;
    box-shadow: none !important;

}

.created-table {
    border-width: 2px;
    border-radius: 2px !important;
}

.filters-cont {
    gap: 16px;
}

.filters-applied .btn-filters {
    background-color: #00A3FF;
}

.tsc-inp:focus~.tsc-label,
.tsc-inp:not(:placeholder-shown)~.tsc-label {
    display: none !important;
}

.text-accent {
    color: #28BF4B;
}

.mt-nft-img {
    height: 40px;
    width: 58px;
    border-radius: 1px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #150F36;
}

.dt-layout-table {
    overflow-x: auto;
}

.dt-container .row:not(.dt-layout-table) {
    display: none !important;
}

.nft-sq-card .new-drop-img img {
    aspect-ratio: 235/217;
    height: auto;
    width: 100%;
}

.nft-sq-card .new-drop-info {
    height: 50%;
}

.nft-sq-row,
.nft-posts-row {
    margin: 0 -10px;
}

.nft-sq-row>div,
.nft-posts-row>div {
    padding: 0 10px;
}

.pagination-text {
    font-size: 12px;
}

.btn-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FAF4F0;
}

.collections-overview-about {
    display: flex;
    flex-direction: column;
}

.coa-header {
    position: relative;
}

.coa-content {
    padding: 32px 25px 25px;
}

.coa-cover-img {
    height: 156px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.coa-profile-img {
    left: 24px;
    bottom: -12px;
    position: absolute;
    height: 71px;
    width: 71px;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #150F36;
}

.coa-user-img {
    height: 33px;
    width: 33px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}

.text-sm {
    font-size: 12px;
}

.coa-line {
    width: 1px;
    height: 16px;
    background-color: rgba(95, 100, 109, 0.3);
}

.btn-read-more {
    padding: 2px 13px !important;
    border-radius: 2px !important;
}

.btn-read-more:hover {
    background-color: #D8D8D8;
}

.coa-nav .btn {
    border-color: transparent !important;
    border-radius: 2px !important;
    padding: 6px 30px !important;
}

.coa-nav .btn.active {
    border-color: #150F36 !important;
    background-color: #150F36 !important;
    color: #fff !important;
}

.nft-card .new-drop-desc {
    font-weight: 500;
}

.btn-dark {
    border-color: #150F36 !important;
    background-color: #150F36 !important;
}

.text-md {
    font-size: 16px;
}

.trading-stat {
    padding: 10px 16px;
    position: relative;
    border: 1px solid #150F36;
    border-radius: 1px;
}

.ts-info {
    position: absolute;
    top: 10px;
    right: 18px;
}

.text-danger {
    color: #DE4646;
}

.text-primary {
    color: #00A3FF !important;
}

.static-search-form {
    position: relative;
    left: unset;
    top: unset;
    width: 100%;
    transform: unset;
    z-index: 0;
    max-width: 100%;
    display: block !important;
}

.static-search-form .fp-ip {
    font-size: 16px !important;
}

.static-search-form .fp-inp::placeholder {
    color: #150F36;
}

.search-title {
    font-size: 20px;
    font-weight: 700;
    color: #150F36;
}

.nft-sq-row .nft-card {
    width: 100%;
}

.search-card {
    display: block;
    text-decoration: none;
}

.search-card .nci-label {
    font-size: 12px;
}

.search-card .nci-value {
    font-size: 14px;
}

.search-card .nc-title {
    font-size: 14px;
}

.btn-load-more {
    padding: 6px 16px !important;
}

.btn-sold {
    background-color: #DE4646 !important;
    color: #FFFFFF !important;
    border-color: #DE4646 !important;
}

.btn-purchased {
    background-color: #28BF4B !important;
    color: #FFFFFF !important;
    border-color: #28BF4B !important;
}


.btn-accepted {
    background-color: #EAFBEE !important;
    color: #28BF4B !important;
    border-color: #28BF4B !important;
}

.btn-table {
    min-width: 72px !important;
}

/* Dashboard Pages End */

/* Homepage */
.home-page main {
    width: 100%;
}

.nft-post {
    position: relative;
    display: flex;
    text-decoration: none;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
}

.nft-post-img {
    border-radius: 2px;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.nft-bottom {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.np-title {
    font-family: "Space Grostek", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #150F36;
}

.np-price {
    font-size: 12px;
    font-weight: 600;
    color: #150F36;
}

.nft-post {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.posts-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.np-tag {
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #150F36;
    position: absolute;
    padding: 3px 8px;
    top: 40px;
    right: 40px;
}

.home-posts-box {
    padding: 32px 32px 12px;
    background-image: url(../img/home-box-bg.png);
    background-size: cover;
    background-position: center;
}

.home-posts-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-home {
    border: 1px solid #fff !important;
    background-color: #150F36 !important;
    color: #FFFFFF !important;
    padding: 9px 15px !important;
    line-height: 100% !important;
    box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.25);
}

.home-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nft-categories {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nft-categories .nft-sq-card {
    flex-basis: 170px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 190px;
}

.blog-post {
    padding: 0 !important;
    box-shadow: none;
    height: 100%;
}

.blog-post .nft-post-img {
    aspect-ratio: 16/9;
}

.blog-post .nft-bottom {
    padding: 0 20px 20px;
}

.blog-posts-slider .slick-track {
    display: flex;
}

.blog-posts-slider .slick-slide {
    height: auto;
}

.blog-posts-slider .slick-slide>div {
    height: 100%;
}

.browse-row .new-drop-img img {
    height: 138px !important;
}

.browse-row .new-drop-info {
    height: 80%;
}

/* Homepage Ends */

/* Details Page */
.details-box {
    display: flex;
}

.details-box .nft-card {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.details-box .nc-title {
    font-size: 15px;
}

.details-box .nci-value {
    font-size: 15px;
}

.details-box .nci-label {
    font-size: 13px;
}

.details-box .nci-box,
.details-box .nft-credits {
    padding: 14px;
}

.details-right {
    width: 50%;
    padding: 20px 0;
}

.dr-owner-info {
    font-size: 12px;
    color: #150F36;
}

.dr-title {
    font-size: 18px;
}

.dr-owner-info {
    gap: 6px;
}

.dr-desc {
    font-size: 12px;
}

.dr-middle {
    border-top: 1px solid #150F36;
    border-bottom: 1px solid #150F36;
}

.drm-box {
    border-right: 1px solid #150F36;
    padding: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.dr-middle .drm-box:last-child {
    border-right: 0;
}

.details-right {
    display: flex;
    flex-direction: column;
    border: 1px solid #150F36;
    border-left: 0;
}

.drb-title {
    font-size: 12px;
}

.drb-table-cont {
    border-radius: 2px;
    border: 1px solid rgba(21, 15, 54, 0.5);
}

.drb-table th,
.drb-table td {
    border-bottom: 1px solid #150F36 !important;
    padding: 4px 8px;
    font-size: 12px;
}

.drb-table tbody tr:last-child td {
    border-bottom: 0 !important;
}

.drb-table thead th {
    color: #5F646D !important;
    font-weight: 400 !important;
}

.drb-table tbody td {
    color: #150F36 !important;
    font: 400 !important;
}

.drb-status {
    font-size: 10px;
}

.details-box .fp-nc-img {
    flex-grow: 1;
}

.details-box .nci-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Details Page Ends */

/* Minting Page */

.btn-mint-search {
    padding: 9px !important;
}

.minting-row {
    display: flex;
    flex-wrap: wrap;
}

.minting-row .nft-card {
    flex-basis: 220px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 300px;
}

.mint-card {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    border-radius: 2px !important;
}

.mint-card .form-check-input {
    border-radius: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    border-color: #150F36;
}

.mint-card.selected{
    border: 2px solid #28BF4B !important;
    background-color: rgba(234, 251, 238, 1);
}

.mint-details-box {
    justify-content: space-between;
}

.mint-details-box .nft-card {
    width: calc(50% - 130px);
    border-radius: 4px;
}

.mdb-right {
    border: 1px solid #150F36;
    border-radius: 4px;
    width: 50%;
}

.mdb-header {
    padding: 20px;
    border-bottom: 1px solid #150F36;
    font-size: 18px;
}

.mdbr-flex {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.mdb-content {
    padding: 20px;
}

.mdbr .row {
    margin: 0 -10px;
}

.mdbr .row>div {
    padding: 0 10px 14px;
}

.mdb-form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mdb-inp {
    border: 1px solid #150F36;
    border-radius: 2px;
    box-shadow: none !important;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #150F36;
}

.text-optional {
    color: #979797;
}

.view-more {
    cursor: pointer;
    position: absolute;
    bottom: 1px;
    font-size: 12px;
    left: 1px;
    padding: 16px 20px;
    background-color: #FFFFFF;
    width: calc(100% - 2px);
    z-index: 1;
}

.mdb-textare {
    height: 155px;
    transition: 0.4s ease-in-out;
}

.btn-reset {
    font-size: 12px;
}

.mdb-textarea.expanded {
    height: 250px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 450px;
}

.pb-outer {
    width: 100%;
}

.pb-progress {
    height: 9px;
    border-radius: 100px;
    background-color: #10B981;
}

.alert-success {
    background-color: rgba(234, 251, 238, 1);
    border-radius: 2px;
    padding: 0;
    border-color: #28BF4B;
}

.created-table table,
.created-table table td {
    transition: 0.3s ease-in-out;
}

.ct-success table,
.ct-success table td {
    background-color: rgba(234, 251, 238, 1) !important;
    border-color: #28BF4B !important;
    transition: 0.3s ease-in-out;
}

.loader-outer {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 15, 54, 0.85);
    z-index: 999999;
}

.modal-backdrop.fade{
    background-color: rgba(21, 15, 54, 0.85);
    opacity: 1;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #B3FE54;
    -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
    transform-origin: 50% 40%;
    animation: l25 1s infinite linear;
}

.profile-flex{
    gap: 30px;
}

.pf-img{
    height: 84px;
    width: 84px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}
.pf-content{
    flex-grow: 1;
    padding-bottom: 30px;
    max-width: 650px;
    border-bottom: 1px dotted #150F36;
}

.pf-title{
    font-size: 24px;
}

.pfs-line{
    border-left: 1px dotted #150F36;
}

.pfs-label{
    font-size: 14px;
}

.pfs-value{
    font-size: 16px;
}
.pf-stat{
    align-items: center;
    gap: 10px;
}
.pf-interests{
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    width: 270px;
}
.pf-interest{
    flex-grow: 1;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #150F36;
    color: #150F36;
    font-weight: 700;
    font-size: 12px;
    line-height: 110%;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}

.pf-interest:hover{
    background-color: #150F36;
    color: #FFFFFF;
}

.pf-btns{
    gap: 6px;
}
.chat-widget{
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 400px;
    border: 1px solid #150F36;
    border-radius: 2px;
    display: flex;
}

.cw-top .btn>.d-flex{
    gap: 6px;
}
.cwt-btns{
    gap: 6px;
}
.btn-cwt{
    min-width: unset !important;
    width: 32px;
}
.cw-top{
    border-bottom: 1px solid #150F36;
    padding: 20px;
}
.cw-left{
    width: 30%;
    border-right: 1px solid #150F36;
}
.cwl-user-name{
    font-weight: 600;
    font-size: 12px;
    color: #5F646D;
}

.cwl-message{
    color: #150F36;
    font-size: 14px;
}
.cwl-bottom{
    flex-grow: 1;
    height: calc(100% - 80px);
}

.cw-left,.cw-right{
    display: flex;
    flex-direction: column;
}
.cw-list{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}
.cwl-user-img{
    height: 32px;
    width: 32px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}
.cwl-user{
    border-bottom: 1px solid #150F36;
    min-height: 92px;
    display: flex;
    gap: 14px;
    padding: 12px 18px 12px 13px;
    border-left: 5px solid transparent;
    text-decoration: none;
}

.cwl-user.active .cwl-message{
    font-weight: 700;
}
.cw-right{
    flex-grow: 1;
}
.cwl-user.active{
    position: relative;
    border-left-color: #10B981;
    box-shadow: 5px 5px #150F36;
}

.cwl-user.active::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    right: 0;
    top: 0;
    background-color: #150F36;
}

.cwt-user-img{
    height: 24px;
    width: 24px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}
.cwr-bottom{
    flex-grow: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
}

.cwr-chat{
    overflow-y: auto;
    scrollbar-width: thin;
    flex-grow: 1;
    padding: 0 20px 20px;
}

.cwr-form{
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #150F36;
    border-radius: 1px;
    padding: 13px 20px;
    box-shadow: 4px 4px #150F36;
}
.cwrf-user-img,
.cc-user-img{
    height: 34px;
    width: 34px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}
.btn-send{
    padding: 6px 8px !important;
    min-width: unset !important;
}
.cwrf-inp{
    resize: none;
    flex-grow: 1;
    height: 26px;
    font-weight: 700;
    color: #150F36;
    box-shadow: none !important;

}

.cwr-f-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.cc-msgs{
    gap: 10px;
}
.cwr-chat{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cc-msg-cont.cc-sender{
    flex-direction: row-reverse;
}
.cc-msg-info{
    font-size: 12px;
}

.cc-msg-cont.cc-sender .cc-msg-info{
    flex-direction: row-reverse;
}

.cc-msg-pill{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #150F36;
    position: relative;
    width: fit-content;
    max-width: 90%;
}
.cc-msg-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cc-msg-cont.cc-sender .cc-msg-pill{
    background-color: #C0ECDD;
}

.cc-msg-cont.cc-receiver .cc-msg-pill{
    background-color: #FAF4F0;
}

.cc-msg-cont.cc-sender .cc-msg-pill::after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/arrow.svg);
    background-size: 10px;
}
.cc-msg-cont.cc-receiver .cc-msg-pill::after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/arrow-left.svg);
    background-size: 10px;
}
.cc-msg-imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.cc-msg-img{
    height: 85px;
    border-radius: 1px;
    border: 1px solid #150F36;
}
.cc-msg-cont.cc-sender .cc-msgs{
    align-items: flex-end;
}

.modal-content{
    border: 1px solid #150F36;
    border-radius: 0;
}

.modal-dialog{
    max-width: 720px;
}

.modal-header{
    border-bottom: 1px solid #150F36;
    padding: 14px 20px;
}
.modal-body{
    padding: 20px;
}
.modal-title{
    font-size: 24px;
    font-weight: 500;
}
.modal-flex{
    gap: 20px;
}
.modal-nft-img{
    height: 64px;
    width: 90px;
    border: 1px solid #150F36;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
}
.modal-flex{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 34px;
}

.modal-box{
    padding: 12px 16px;
    background-color: rgba(21, 15, 54, 0.1);
    border-radius: 2px;
    border: 1px solid rgba(21, 15, 54, 0.5);
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
}
.modal-form-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mf-label{
    font-size: 12px;
    font-weight: 700;
    color: #150F36;
}
.mf-inp{
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px !important;
    border: 1px solid #150F36 !important;
}

.mf-inp.form-select{
    width: 140px;
    background-size: 10px;
}
.mf-inp-currency{
    border-left: 0 !important;
}
.mf-inp-days{
    border-right: 0 !important;
}
.mf-desc{
    font-size: 12px;
    color: #150F36;
}

.noti-modal .modal-flex{
    padding: 120px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.noti-modal .modal-flex p{
    max-width: 306px;
}

.modal-btns{
    gap: 20px;
}
.btn-dark{
    background-color: #150F36;
    color: #fff;
}

.nm-title{
    font-size: 24px;
}

.modal .btn{
    font-size: 14px !important;
}

.btn-danger{
    background-color: #DE4646 !important;
}

.btn-success{
    background-color: #10B981 !important;
}
.used-pill{
    height: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 229, 229, 1);
    padding: 0 9px;
    border-radius: 9px;
}

.connect-modal .modal-dialog{
    max-width: 490px !important;
}

.wallet-select{
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #000000;
}

.connect-modal .modal-body{
    padding: 0 !important;
}
.wallet-icon{
    height: 35px;
    width: 35px;
    object-fit: contain;
    object-position: center;
}

.wallet-select:last-child{
    border-bottom: 0;
}

.insta-logo{
    height: 60px;
}

.insta-user-img{
    height: 97px;
    width: 97px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.btn-insta{
    border-radius: 2px !important;
    font-size: 16px;
    background-color: #4997F0 !important;
    color: #FFFFFF !important;
    font-weight: 600 !important;
    border-color: #4997F0 !important;
}

.insta-flex{
    padding: 80px 0 200px;
}
.insta-link{
    font-weight: 600;
    font-size: 12px;
}

.insta-link a{
    color: #4997F0;
    text-decoration: none;
}
.btn-quite{
    color: #9B0000;
    background-color: #FFBDBE;
}
.created-success{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
}
@keyframes l25 {
    100% {
        transform: rotate(1turn)
    }
}

/* Minting Page Ends */

.mmm .modal-dialog{
    max-width: 400px !important;
    margin-top: 0;
    margin-right: 0;
}
.mmm .modal-content{
    min-height: 630px;
}

.mmm-h-logo{
    height: 42px;
}

.mmm-h-select{
    padding: 8px 34px;
    border: 1px solid #fff;
    color: #fff !important;
    background-color: transparent !important;
    background-image: url(../img/Ellipse-select.svg),url(../img/chevron-down-dark.svg);
    background-position: 16px center, calc(100% - 16px) center;
    background-size: 10px, 13px;
    background-repeat: no-repeat, no-repeat;
    width: fit-content;
    border-radius: 100px;
}

.mmm-h-select option{
    color: #150F36 !important;
}

.mmm-header{
    background-color: rgba(20, 22, 24, 1);
}

.mmm .modal-body{
    min-height: 630px;
}
.mmm .modal-body{
    padding: 0;
    background-color: #24272A;
}

.mmm-label{
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}
.mmm-inp{
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 0 0 6px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #1098FC;
    background-color: transparent !important;
    box-shadow: none !important;
}


.mmm-btn{
    height: 48px;
    background-color: #1098FC !important;
    border: 1px solid #1098FC !important;
    border-radius: 100px !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #fff !important;
    font-weight: 500;
    padding: 12px 48px !important;
}

.mmm-pill{
    padding: 10px 16px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: fit-content;
    margin: 0 auto;
}
.mmm-link{
    font-size: 14px;
    font-weight: 400;
    color: #1098FC;
}

.mmm-title{
    font-size: 40px;
}

.mmm-desc{
    font-size: 20px;
}

.mmm-title-2{
    font-size: 24px;
}

.mmm-desc-2{
    font-size: 14px;
}

.mmm-see{
    border-bottom: 1px solid rgba(91, 93, 95, 1);
}

.mmm-btn-outline{
    color: #1098FC !important;
    background-color: transparent !important;
    border: 1px solid #1098FC !important;
}
@media (min-height: 1200px) {
    .form-page main {
        min-height: unset;
        gap: 60px;
    }
}

@media (min-width: 1200px) {
    .container-1000 {
        max-width: 1000px;
    }
}

@media (min-width: 1400px) {
    .minting-row>.col-xxl-2 {
        width: 20%;
    }
}

@media (max-width: 1400px) {
    .mint-details-box .nft-card {
        width: calc(50% - 50px);
    }
}

@media (max-width: 1200px) {
    .new-drops-slider .slick-arrow.slick-prev {
        transform: translateY(-50%) translateX(-20%);
    }

    .new-drops-slider .slick-arrow.slick-next {
        transform: translateY(-50%) translateX(20%);
    }

    .details-box {
        flex-direction: column;
    }

    .details-box>div {
        width: 100% !important;
    }

    .details-right {
        border-top: 0;
        border-left: 1px solid #150F36;
    }

    .cw-left{
        width: 45%;
    }
}

@media (max-width: 992px) {
    .menu-opened .sidebar {
        width: 300px;
    }

    .menu-btn,
    .menu-close {
        display: block;
    }

    .dashboard-page main {
        width: 100%;
        margin-left: 0;
    }

    .sidebar {
        width: 0;
        overflow-x: hidden;
    }

    .fp-cards-cont {
        display: none;
    }

    .fp-cards {
        flex-direction: row;
        width: fit-content
    }

    .nft-card {
        flex-shrink: 0;
    }

    .page-title {
        font-size: 24px;
    }

    .nft-categories .nft-sq-card {
        max-width: 50%;
    }
}

@media (max-width:768px) {

    .main-table tbody td,
    .main-table thead th {
        font-size: 10px !important;
    }

    .btn-table {
        font-size: 10px !important;
        padding: 6px 10px !important;
    }

    .nft-categories .nft-sq-card {
        max-width: 100%;
    }

    .chat-widget{
        flex-direction: column;
    }
    .cw-left,
    .cw-right{
        width: 100%;
    }
    .cw-left{
        height: 400px;
    }
    
    .cw-right{
        height: 600px;
    }
    .cw-right{
        border-top: 1px solid #150F36;
    }
    .chat-widget{
        height: unset;
    }
}

@media (max-width:576px) {
    .form-page {
        background-size: cover;
    }

    .form-container {
        width: 100% !important;
    }

    .menu-btn {
        width: 32px;
        height: 32px;
        padding: 0 !important;
    }

    .nothing-title {
        font-size: 36px;
    }

    .coa-content {
        padding: 32px 0px 25px;
    }

    .f-currency-flex {
        margin-left: auto;
    }
}