@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
}

.grostek {
    font-family: "Space Grotesk", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar {
    z-index: 1;
    background-color: #150F36;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    transition: 0.3s ease-in-out;
    left: 0;
}

.side-middle {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 16px 10px;
}

.nav-link {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.header-search {
    cursor: pointer;
}

.nav-link-text {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.nav-link.active {
    background-color: #FFFFFF !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active .nav-link-text {
    color: #150F36;
}

.nav-link.active svg path {
    fill: #150F36;
}

.side-top {
    padding: 24px 34px 24px;
    margin-bottom: 16px;
    background-color: #150F36;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.menu-close {
    display: none;
}

.menu-close img {
    height: 26px;
}

.side-bottom {
    padding: 16px 34px;
    background-color: #150F36;
}

.side-user-name {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.side-user {
    gap: 10px;
    display: flex;
    align-items: center;
}

.side-user-img {
    height: 22px;
    width: 22px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.side-user .dropup .dropdown-toggle::after {
    content: unset !important;
    border: 0 !important;
}

.side-user .dropup .dropdown-menu {
    border-radius: 0 !important;
    border-color: #150F36 !important;
    color: #150F36 !important;
}

.dashboard-page main {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.nl-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #00A3FF;
    min-width: 26px;
    height: 18px;
    margin-left: auto;
    padding: 0 2px;
}

.page-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    color: #150F36;
}

.btn {
    border: 1px solid #150F36 !important;
    border-radius: 0 !important;
    padding: 8px 13px !important;
    font-size: 12px;
    font-weight: 700;
}

.btn-white {
    background-color: #FFFFFF !important;
    color: #150F36 !important;
}

.btn-white:hover {
    background-color: #150F36 !important;
    color: #FFFFFF !important;
}

.btn-white:hover svg path {
    fill: #FFFFFF;
}

.btn-sky {
    background-color: #00A3FF !important;
    color: #FFFFFF !important;
}

.btn-sky:hover {
    background-color: #150F36 !important;
}
.btn-sky:hover svg path {
    fill: #FFFFFF;
}
.btn-flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

.bars-icon {
    height: 14px;
    width: 14px;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: white !important;
}

/* Form Pages */
.form-page {
    background-color: #150F36;
    background-image: url(../img/form-page-vector-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    background-attachment: fixed;
}

.form-page main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.navbar-brand img {
    height: 32px;
}

.form-content {
    flex-grow: 1;
}

.form-container {
    width: 440px;
    max-width: 100%;
}

.form-page footer {
    margin-top: auto;
    font-size: 14px;
}

.fc-title {
    font-size: 48px;
    font-weight: 500;
}

.form-fields {
    gap: 26px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.form-label {
    margin-bottom: 0;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
}

.fp-inp::placeholder {
    color: #5F646D;
}

.inp-container {
    position: relative;
}

.fp-inp-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.fp-inp {
    border-radius: 2px;
    border-color: #FFFFFF;
    font-size: 14px;
    color: #150F36;
    font-weight: 700;
    padding: 20px 18px;
    background-color: #FFFFFF;
    box-shadow: none !important;
}

.fp-check-label {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
    gap: 10px;
}

.fp-check-label .form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: none !important;
}

.fp-check-label .form-check-input:checked {
    background-color: #28BF4B;
    border-color: #28BF4B;
}

.form-page .btn {
    font-size: 16px;
    font-weight: 700;
    padding: 14px !important;
    border-radius: 2px !important;
}

.btn-form-primary {
    background-color: #00A3FF !important;
    color: #FFFFFF !important;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
    border: 1px solid #00A3FF !important;
}

.btn-form-white {
    background-color: #150F36 !important;
    color: #FFFFFF !important;
    border: 1px solid #fff !important;
}

.btn-form-primary:hover {
    border: 1px solid #FFFFFF !important;
}

.show-passowrd-icon {
    cursor: pointer;
}

.nft-card {
    border-radius: 1px;
    overflow: hidden;
    width: 352px;
    background-color: #FFFFFF;
    border: 1px solid #150F36;
}

.nft-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.nft-credits {
    padding: 10px 14px;
    font-weight: 700;
    font-size: 10.5px;
    color: #150F36;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #150F36;
    border-bottom: 1px solid #150F36;
}

.nc-from {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nc-by {
    font-size: 12px;
    font-weight: 400;
    color: #5F646D;
}

.nci-value {
    line-height: 150%;
    font-size: 10.5px;
    font-weight: 700;
    color: #150F36;
}

.nci-label {
    font-size: 9px;
    font-weight: 600;
    color: #5F646D;
}

.nc-interactions {
    display: flex;
}

.nci-box {
    padding: 8px 14px;
    flex-grow: 1;
}

.nci-box:first-child {
    border-right: 1px solid #150F36;
}

.fp-cards {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.fp-cards-cont {
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 10%;
}

.ff-or {
    position: relative;
    font-weight: 500;
}

.ff-or::before,
.ff-or::after {
    content: "";
    position: absolute;
    width: 132px;
    height: 1px;
    background-color: #FFFFFF;
    top: 50%;
}

.ff-or::before {
    left: 0;
    transform: translateY(-50%) translateX(calc(-100% - 15px));
}

.ff-or::after {
    right: 0;
    transform: translateY(-50%) translateX(calc(100% + 15px));
}

.dashboard-page header {
    position: sticky;
    top: 0;
    z-index: 9;
}

body:not(.form-page) header{
    background-color: #fff;
    border-bottom: 1px solid #150F36;
}

.search-form {
    position: absolute;
    top: 16px;
    width: 1000px;
    max-width: calc(100% - 50px);
    z-index: 9;
    box-shadow: 4px 4px 0 0 #000;
    border: 1px solid rgba(0, 0, 0, 1);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.search-form .fp-inp {
    padding: 20px 60px 20px 24px;
}

.search-form .btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    justify-content: center;
}

.f-lang-flex {
    gap: 6px;
}

.f-currency-flex {
    gap: 12px;
}

.f-text {
    color: #150F36;
    font-size: 12px;
}

.currency-inp~span .select2-selection__rendered {
    font-size: 12px;
    font-weight: 700;
    color: #150F36 !important;
    padding: 0 30px 0 10px !important;
    line-height: 32px !important;
}

.currency-inp~.select2 {
    width: 100% !important;
    display: block;
}

.currency-inp~.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    background-image: url(../img/chevron-up.svg);
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    right: 6px !important;
    transition: 0.3s ease-in-out;
    transform: rotate(180deg);
}

.curr-dropdown .select2-results__options {
    max-height: unset !important;
    border: 1px solid #150F36 !important;
    border-radius: 0 !important;
}

.curr-dropdown .select2-results__option {
    padding: 8px 10px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #150F36 !important;
    background-color: #fff !important;

}

.curr-dropdown {
    border-radius: 0 !important;
}

.curr-dropdown .select2-results__option:hover {
    background-color: rgba(151, 151, 151, 0.5) !important;
}

.currency-inp~.select2-container--open .select2-selection--single .select2-selection__arrow {
    transform: rotate(0deg);
}

.currency-inp~.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none !important;
}

.currency-inp~span .select2-selection--single {
    height: 32px !important;
    border: 1px solid #150F36 !important;
    min-width: 132px;
    border-radius: 1px !important;
}

.dash-duration-flex .currency-inp~span .select2-selection--single{
    min-width: 100px;
}

.dashboard-page .main-sec {
    min-height: calc(100vh - 132px);
}

/* Form Pages End */

/* Dashboard Pages */
.wallet-flex {
    gap: 4px;
    font-weight: 500;
    font-size: 20px;
    color: #150F36;
}

.wf-muted {
    color: #5F646D;
}

.nothing-circles {
    width: 205px;
    max-width: 100%;
}

.nothing-flex .btn-form-primary {
    padding: 16px 20px !important;
    border: 1px solid #150F36 !important;
    border-radius: 2px !important;
    width: 210px !important;
    max-width: 100% !important;
}

.nothing-title {
    font-size: 48px;
}

.nothing-desc {
    font-size: 16px;
}

.nothing-desc {
    font-size: 16px;
}

.text-dark {
    color: #150F36 !important;
}

.text-secondary {
    color: #5F646D !important;
}

.form-select {
    background-image: url(../img/chevron-down.svg);
}
.new-drop-img{
    width: 100%;
}
.new-drop-img img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.new-drop-card {
    width: 100%;
    display: block;
    position: relative;
    border: 1px solid #150F36;
    border-radius: 2px;
    overflow: hidden;
}

.new-drop-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    height: 70%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.6213));
}

.new-drop-title {
    font-size: 20px;
    font-weight: 500;
}

.new-drop-desc {
    font-size: 12px;
    font-weight: 600;
}

.new-drop-posts {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #150F36;
    position: absolute;
    top: 16px;
    right: 16px;
}

.new-drop-cont {
    padding: 0 10px;
}

.new-drops-slider .slick-list {
    margin: 0 -10px;
}

.new-drops-slider .slick-slide>div {
    display: flex;
}

.new-drops-slider {
    position: relative;
}

.new-drops-slider .slick-arrow {
    position: absolute;
    top: 50%;
    height: unset;
    width: unset;
    z-index: 1;
}

.new-drops-slider .slick-arrow::before {
    content: unset;
}

.new-drops-slider .slick-arrow.slick-prev {
    left: 0px;
    transform: translateY(-50%) translateX(-50%);
}

.new-drops-slider .slick-arrow.slick-next {
    right: 0px;
    transform: translateY(-50%) translateX(50%);
}

.btn-nav {
    padding: 6px 10px !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.types-nav .btn-nav {
    padding: 6px 16px !important;
}

.btn-nav:hover,
.btn-nav.active {
    border-color: #150F36 !important;
    background-color: #150F36 !important;
    color: #FFFFFF !important;
}

.types-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.main-table thead th {
    font-size: 12px !important;
}

.main-table {
    border: 1px solid #150F36;
}

.main-table tbody td {
    font-size: 14px !important;
}

.main-table .dt-column-title {
    position: relative;
}

.main-table .dt-column-title::after {
    content: "";
    height: 16px !important;
    width: 16px !important;
    display: inline-block;
    position: absolute !important;
    top: 50% !important;
    right: 0;
    transform: translateX(calc(100% + 6px)) translateY(-50%) !important;
    background-image: url(../img/arrow-down.svg);
    background-size: cover;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}

.main-table th {
    padding: 14px 20px !important;
}

.main-table td {
    padding: 14px 10px !important;
    color: #150F36;
    vertical-align: middle;
}

.main-table th.dt-orderable-asc:hover,
.main-table th.dt-orderable-desc:hover {
    outline: 0 !important;
}

.main-table .dt-column-order {
    display: none !important;
}

.main-table .dt-column-order::after,
.main-table .dt-column-order::before {
    content: unset !important;
    display: none !important;
}

.main-table thead th:last-child .dt-column-title::after {
    display: none !important;
}

.main-table thead th.dt-ordering-desc .dt-column-title::after {
    transform: translateX(calc(100% + 6px)) translateY(-50%) rotate(-180deg) !important;
    opacity: 1;
}

.main-table thead th.dt-ordering-asc .dt-column-title::after {
    opacity: 1;
    transform: translateX(calc(100% + 6px)) translateY(-50%) rotate(0deg) !important;
}

.btn-table {
    padding: 6px 10px !important;
}
.btn-filters{
    color: #150F36;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 9px 13px !important;
}

.tsc-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #150F36;
    gap: 6px;
}

.tsc-label{
    margin: 0 2px;
}
.table-search-cont{
    position: relative;
}
.tsc-inp{
    font-size: 12px;
    font-weight: 700;
    color: #150F36;
    text-align: center;
    width: 226px;
    border: 1px solid #150F36;
    border-radius: 1px;
    background-color: #FAF4F0 !important;
    box-shadow: none !important;

}

.created-table{
    border-width: 2px;
    border-radius: 2px !important;
}

.filters-cont{
    gap: 16px;
}
.filters-applied .btn-filters{
    background-color: #00A3FF;
}

.tsc-inp:focus ~ .tsc-label,
.tsc-inp:not(:placeholder-shown) ~ .tsc-label {
    display: none !important;
}
.text-accent {
    color: #28BF4B;
}

.mt-nft-img {
    height: 40px;
    width: 58px;
    border-radius: 1px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #150F36;
}
.dt-layout-table{
    overflow-x: auto;
}
.dt-container .row:not(.dt-layout-table){
    display: none !important;
}
.nft-sq-card .new-drop-img img{
    aspect-ratio: 235/217;
    height: auto;
    width: 100%;
}

.nft-sq-card .new-drop-info{
    height: 50%;
}

.nft-sq-row,.nft-posts-row{
    margin: 0 -10px;
}

.nft-sq-row>div,.nft-posts-row>div{
    padding: 0 10px;
}
.pagination-text{
    font-size: 12px;
}
.btn-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FAF4F0;
}
.collections-overview-about{
    display: flex;
    flex-direction: column;
}
.coa-header{
    position: relative;
}

.coa-content{
    padding: 32px 25px 25px;
}

.coa-cover-img{
    height: 156px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.coa-profile-img{
    left: 24px;
    bottom: -12px;
    position: absolute;
    height: 71px;
    width: 71px;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #150F36;
}
.coa-user-img{
    height: 33px;
    width: 33px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}
.text-sm{
    font-size: 12px;
}

.coa-line{
    width: 1px;
    height: 16px;
    background-color: rgba(95, 100, 109, 0.3);
}

.btn-read-more{
    padding: 2px 13px !important;
    border-radius: 2px !important;
}

.btn-read-more:hover{
    background-color: #D8D8D8;
}
.coa-nav .btn{
    border-color: transparent !important;
    border-radius: 2px !important;
    padding: 6px 30px !important;
}

.coa-nav .btn.active{
    border-color: #150F36 !important;
    background-color: #150F36 !important;
    color: #fff !important;
}

.nft-card .new-drop-desc{
    font-weight: 500;
}
.btn-dark{
    border-color: #150F36 !important;
    background-color: #150F36 !important;
}

.text-md{
    font-size: 16px;
}

.trading-stat{
    padding: 10px 16px;
    position: relative;
    border: 1px solid #150F36;
    border-radius: 1px;
}
.ts-info{
    position: absolute;
    top: 10px;
    right: 18px;
}

.text-danger{
    color: #DE4646;
}
.text-primary{
    color: #00A3FF !important;
}
.static-search-form{
    position: relative;
    left: unset;
    top: unset;
    width: 100%;
    transform: unset;
    z-index: 0;
    max-width: 100%;
    display: block !important;
}

.static-search-form .fp-ip{
    font-size: 16px !important;
}

.static-search-form .fp-inp::placeholder{
    color: #150F36;
}
.search-title{
    font-size: 20px;
    font-weight: 700;
    color: #150F36;
}
.nft-sq-row .nft-card{
    width: 100%;
}
.search-card{
    display: block;
    text-decoration: none;
}
.search-card .nci-label{
    font-size: 12px;
}

.search-card .nci-value{
    font-size: 14px;
}

.search-card .nc-title{
    font-size: 14px;
}
.btn-load-more{
    padding: 6px 16px !important;
}

.btn-sold{
    background-color: #DE4646 !important;
    color: #FFFFFF !important;
    border-color: #DE4646 !important;
}

.btn-purchased{
    background-color: #28BF4B !important;
    color: #FFFFFF !important;
    border-color: #28BF4B !important;
}


.btn-accepted{
    background-color: #EAFBEE !important;
    color: #28BF4B !important;
    border-color: #28BF4B !important;
}

.btn-table{
    min-width: 72px !important;
}
/* Dashboard Pages End */

/* Homepage */
.home-page main{
    width: 100%;
}
.nft-post{
    position: relative;
    display: flex;
    text-decoration: none;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
}
.nft-post-img{
    border-radius: 2px;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.nft-bottom{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.np-title{
    font-family: "Space Grostek", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #150F36;
}
.np-price{
    font-size: 12px;
    font-weight: 600;
    color: #150F36;
}

.nft-post{
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.posts-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.np-tag{
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #150F36;
    position: absolute;
    padding: 3px 8px;
    top: 40px;
    right: 40px;
}
.home-posts-box{
    padding: 32px 32px 12px;
    background-image: url(../img/home-box-bg.png);
    background-size: cover;
    background-position: center;
}
.home-posts-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-home{
    border: 1px solid #fff !important;
    background-color: #150F36 !important;
    color: #FFFFFF !important;
    padding: 9px 15px !important;
    line-height: 100% !important;
    box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.25);
}

.home-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nft-categories{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nft-categories .nft-sq-card{
    flex-basis: 170px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 190px;
}

.blog-post{
    padding: 0 !important;
    box-shadow: none;
    height: 100%;
}

.blog-post .nft-post-img{
    aspect-ratio: 16/9;
}

.blog-post .nft-bottom{
    padding: 0 20px 20px;
}
.blog-posts-slider .slick-track{
    display: flex;
}
.blog-posts-slider .slick-slide{
    height: auto;
}
.blog-posts-slider .slick-slide>div{
    height: 100%;
}
.browse-row .new-drop-img img {
    height: 138px !important;
}
.browse-row .new-drop-info{
    height: 80%;
}
/* Homepage Ends */

@media (min-height: 1200px) {
    .form-page main {
        min-height: unset;
        gap: 60px;
    }
}

@media (min-width: 1200px) {
    .container-1000{
        max-width: 1000px;
    }
}
@media (max-width: 1200px) {
    .new-drops-slider .slick-arrow.slick-prev {
        transform: translateY(-50%) translateX(-20%);
    }

    .new-drops-slider .slick-arrow.slick-next {
        transform: translateY(-50%) translateX(20%);
    }
}

@media (max-width: 992px) {
    .menu-opened .sidebar {
        width: 300px;
    }

    .menu-btn,
    .menu-close {
        display: block;
    }

    .dashboard-page main {
        width: 100%;
        margin-left: 0;
    }

    .sidebar {
        width: 0;
        overflow-x: hidden;
    }

    .fp-cards-cont {
        height: auto;
        position: static;
        overflow-x: auto;
        width: 100%;
    }

    .fp-cards {
        flex-direction: row;
        width: fit-content
    }

    .nft-card {
        flex-shrink: 0;
    }

    .page-title {
        font-size: 24px;
    }
    .nft-categories .nft-sq-card{
        max-width: 50%;
    }
}

@media (max-width:768px) {
    .main-table tbody td,
    .main-table thead th {
        font-size: 10px !important;
    }
    .btn-table{
        font-size: 10px !important;
        padding: 6px 10px !important;
    }
    .nft-categories .nft-sq-card{
        max-width: 100%;
    }
}

@media (max-width:576px) {
    .form-page {
        background-size: cover;
    }

    .form-container {
        width: 100% !important;
    }

    .menu-btn {
        width: 32px;
        height: 32px;
        padding: 0 !important;
    }

    .nothing-title {
        font-size: 36px;
    }
    .coa-content{
        padding: 32px 0px 25px;
    }
    .f-currency-flex{
        margin-left: auto;
    }
}